@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
  height: 100%;
}

.cabecalho {
  background-color: #0a2770;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 100%;
  height: auto;
  /* max-height: 65%; */
}

/* .cabecalho img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
         filter: grayscale(100%); 
} */

.btn-logar {
  border-radius: 38px;
  width: max-content;
  min-width: max-content;
  font-size: 16px;
}

.btn-logar span {
  padding-left: 3%;
  padding-right: 3%;
}

.btn-check + .btn-categoria{
  width: 500px !important;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.50);
  box-shadow: none !important;
  color: rgb(0, 0, 0);
}

.btn-check:checked + .btn-categoria {
  background-color: #0a1e53;
  box-shadow: none !important;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.input-container > label {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-categoria > .input-container {
  width: 60%;
}

/* .btn-logar {
  border-radius: 30px;
  width: 160.44px;
  height: 59.2px;
  font-size: 25px;
  color: #0a2770;
} */

.titulo {
  color: black;
  font-weight: 700;
  font-size: 3vw;
  font-family: "Inter", sans-serif;
  letter-spacing: -2.8px;
}

.texto-info {
  color: #0a2770;
  font-weight: 300;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

.flat-home {
  width: 100%;
  height: auto;
}

.modal-login {
  border-radius: 15px !important;
  height: 100%;
  font-family: "inter", sans-serif;
  background-color: #f1f5f9;
}

.modal-header,
.modal-body {
  border-bottom: none;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 50%; */
}

.input-container > input {
  padding-left: 40px;
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
}

.input-icon {
  position: absolute;
  left: 15px;
}

.btn-entrar {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: #0a2770;
  color: white;
  font-weight: bold;
}

.btn-entrar:hover {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: #0a1e53;
  color: white;
  font-weight: bold;
}

.btn-cadastrar {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: rgba(10, 39, 112, 0.5);
  color: white;
  font-weight: bold;
}

.btn-cadastrar:hover {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: rgba(15, 36, 90, 0.669);
  color: white;
  font-weight: bold;
}

.esqueci-senha {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.53);
  font-weight: normal;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left 0.3s;
}

.down-footer {
  background-color: #0a2770;
}

/* Sidebar */

#sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0a2770;
  overflow-x: hidden;
  transition: width 0.3s;
  align-items: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}
#sidebar.expanded {
  width: 200px;
}
#sidebar.expanded #toggle-btn {
  color: white;
}
#sidebar .nav-link {
  color: #ffffff;
  text-align: center;
  width: 100%;
}
#sidebar .nav-link:hover {
  background-color: #0a1e53;
}
.sidebar-icon {
  font-size: 30px;
  margin: 15px 0;
}
#toggle-btn {
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.nav-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bottom-item {
  margin-top: auto;
}
.titulo-pagina{
  font-weight: 600;
  color: #0a2770;
}

.card-img-top {
  /* margin: 20px; */
  max-width: 13%;
  width: 100%;
  height: auto;
}

.card {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 80%; 
  height: auto;
  background: url('../img/cards-background.png') no-repeat center center / cover;
}

.footer-card {
  margin-top: 60px;
}

.card-title {
  margin-bottom: 0px;
}

.btn > i span {
  line-height: inherit;
}

.btn-novo {
  height: max-content;
}

.btn-novo:hover {
  height: max-content;
}

/* Wizard de demanda */
/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
	outline: none;
	box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
	background-color: #fff;
}
/*----------step-wizard------------*/
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
	background-color: #333;
}
.signup-step-container{
	/* padding: 150px 0px; */
	padding-bottom: 60px;
}


.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
        position: relative;
margin-bottom: 50px;
text-align: center;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #0a2770;
    color: #fff;
    border-color: #0a2770;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #0a2770;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    /* border-radius: 4px; */
    margin-top: 30px;
}

.skip-btn{
	background-color: #cec12d;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
	margin-top: 30px;
}
.all-info-container{

}
.list-content{
	margin-bottom: 10px;
}
.list-content a{
	padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.list-content a i{
	text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
	padding: 10px;
}
.signup-logo-header .logo_area{
	width: 200px;
}
.signup-logo-header .nav > li{
	padding: 0;
}
.signup-logo-header .header-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-inline li{
    display: inline-block;
    margin-top: 30px;
}
.pull-right{
    float: right;
}

.nav-item-custom > .active {
  color: white !important;
  font-weight: 700;
  background-color: #0a2770 !important;
  font-size: 1.0rem;
}

.nav-item-custom > :not(.active) {
  background-color: white !important;
  color: black !important;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #0a2770;
    border-color: #0a2770;
}

@media (max-width: 767px){
	.sign-content h3{
		font-size: 40px;
	}
	.wizard .nav-tabs > li a i{
		display: none;
	}
	.signup-logo-header .navbar-toggle{
		margin: 0;
		margin-top: 8px;
	}
	.signup-logo-header .logo_area{
		margin-top: 0;
	}
	.signup-logo-header .header-flex{
		display: block;
	}
}

@media (min-width: 768px) {
  .logo-header {
    display: flex;
    justify-content: flex-start;
  }
  .btn-logar {
    height: 2.5rem;
  }

  .btn-logar span {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  .logo-header {
    display: flex;
    justify-content: center;
  }
}